<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Projeto Teste Certificados</h1>

  <form action="/createpdf" method="POST">
    <button type="submit">Criar PDF</button>
  </form>
  <p/>

  <form action="/download" method="POST">
    <button type="submit">Baixar PDF</button>
  </form>
  <p/>

  <span>Por enquanto estou realizando os testes utilizando o PDFKit</span>
  <p/>
  <a href="https://pdfkit.org/">Link</a>
  <p/>
  <a href="https://pdfkit.org/docs/getting_started.html">Documentação</a>
</body>
</html>